################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IxianDLT/.vs/DLTNode/v15
/IxianDLT/packages
/IxianDLT/DLTNode.psess
/IxianDLT/DLTNode.csproj.user
/IxianDLT/DLTNode180413.vsp
/IxianDLT/.vs/DLTNode/DesignTimeBuild/*.dtbcache
/IxianDLT/bin
/IxianDLT/obj
/IxianS2/obj
/IxianS2/bin
/Argon2_C/*.user
/Argon2_C/x64
/IxianS2/S2Node.csproj.user
/SPIXI/.vs/SPIXI/DesignTimeBuild/*.dtbcache
/SPIXI/.vs/SPIXI/v15
/SPIXI/SPIXI/SPIXI.csproj.user
/SPIXI/SPIXI/SPIXI.Android/bin
/SPIXI/SPIXI/SPIXI.Android/obj
/SPIXI/SPIXI/SPIXI.iOS/bin
/SPIXI/SPIXI/SPIXI.iOS/obj
/SPIXI/SPIXI/SPIXI/bin
/SPIXI/SPIXI/SPIXI/obj
*.DS_Store
/SPIXI/SPIXI/SPIXI.Android/SPIXI.Droid.csproj.user
/SPIXI/packages
/SPIXI/SPIXI/SPIXI.WPF/bin
/SPIXI/SPIXI/SPIXI.WPF/obj
/SPIXI/SPIXI/SPIXI.GTK/bin
/SPIXI/SPIXI/SPIXI.GTK/obj
Debug
Release
/TestingScripts/state.xml
/TestingScripts/TestClients